.checkboxWrapper {
    margin-top: 5px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkboxInput {
    appearance: none;
    position: relative;
    width: 24px;
    height: 24px;
    background: none;
    border-radius: var(--radius-m);
    border: 2px solid var(--accent);
    margin-right: 12px;

    &::after {
        content: '✓';
        color: #fff;
        position: absolute;
        left: 3px;
        top: -3px;
        width: 0px;
        height: 0px;
        font-size: 20px;
        overflow: hidden;
    }

    &:focus {
        outline: 4px solid #D3F4E0;
    }

    &:checked {
        background: var(--accent);

    }

    &:checked::after {
        width: 24px;
        height: 24px;
    }
}
