.wrapper {
    display: flex;
}

main {
    padding: 12px 24px;
    width: 100%;

    & .wrapper_button {
        display: flex; 
        justify-content: flex-end; 
        margin-bottom: 24px;
    }
}

@media (max-width: 768px) {
    main {
        
        & .wrapper_button {
            justify-content: center; 
        }
    }
}