.footer {
    background: var(--bg-header-footer);
    
    & p {
        text-align: center;
        padding: 20px 0;
        font: 400 18px var(--font-poppins);
        color: var(--accent);
    }
}

@media (max-width: 768px) {
    .footer {
        & p {
            font-size: 14px;
        }
    }
}