.checkbox_wrapper {
    margin-top: 5px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox_input {
    appearance: none;
    position: relative;
    width: 24px;
    height: 24px;
    background: none;
    border-radius: 8px;
    border: 2px solid #FF8811;
    margin-right: 12px;

    &::after {
        content: '✓';
        color: #fff;
        position: absolute;
        left: 3px;
        top: -3px;
        width: 0px;
        height: 0px;
        font-size: 20px;
        overflow: hidden;
    }


    &:checked {
        background: #FF8811;
        transition: 0.3s;
    }

    &:checked::after {
        width: 24px;
        height: 24px;
        /* transition: 0.3s; */
    }
}
