header {
    padding: 12px 24px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 400 18px 'Poppins';
    color: #1B2037;
    
    & .mobile_logo {
        height: 24px;
    }

    & .auth_links {
        display: flex;
        gap: 24px;

        & a {
            text-decoration: none;
            color: #1B2037;
        }
    }

    & .personal_short {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    & .burgerMenu_toggle {
        display: none;
        background: none;
        border: none;
        cursor: pointer;
    }

    & .burgerMenu_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #1B203780;
        z-index: 1;
        backdrop-filter: blur(10px);
    }

    & .burger_menu {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        width: 75%;
        z-index: 7;
        background: #fff;

        & .burgerMenu_header {
            padding: 6px 12px;
            display: flex;
            background: #FAFAFA;
            justify-content: space-between;
            align-items: center;
        }

        & .links {
            height: 95vh;
            padding: 10px 12px;
            display: flex;
            flex-direction: column;
            gap: 8px;

            & a {
                padding: 8px;
                width: 100%;
                text-decoration: none;
                color: #1B2037;
                border-radius: 8px;
            }
            & .active {
                background: #F0F1F3;
            }
        }
    }
}
.aside {
    font: 400 18px 'Poppins';
    display: flex;
    flex-direction: column;
    gap: 8px;

    & a {
        padding: 8px;
        width: 304px;
        text-decoration: none;
        color: #1B2037;
        border-radius: 8px;

        &:hover {
            background: #F0F1F3;
        }
    }
    
    & .active {
        background: #F0F1F3;
    }
}

@media (max-width: 768px) {
    header {
        & .mobile_logo {
            height: 12px;
        }
    }
}

@media (max-width: 540px) {
    header {
        & .auth_links {
            display: none;
        }

        & .personal_short {
            display: none;
        }

        & .burgerMenu_toggle {
            display: flex;
            align-items: center;
        }
    }
}