.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    gap: 48px;

    & .notFoundIcon {
        color: var(--svg-color);
    }

    & p {
        font: 600 60px var(--font-inter);
        color: var(--text-primary);
    }
}

@media (max-width: 768px) {
    .main {
        & img {
            width: 100px;
        }

        & p {
            font-size: 36px;
        }
    }
}

@media (max-width: 400px) {
    .main {
        & img {
            width: 80px;
        }

        & p {
            font-size: 20px;
        }
    }
}